body {
    background-color: white;
    color: black;
}

body.dark-mode {
    background-color: #121212;
    color: white;
}

.task-item.pending {
    background-color: #ffff99; /* Softer yellow */
    border-color: #ddd;
}

body.dark-mode .task-item.pending {
    background-color: #b3b300; /* Darker yellow for dark mode */
}

.task-item.completed {
    background-color: lightgreen;
    border-color: #ddd;
}

body.dark-mode .task-item.completed {
    background-color: #006400; /* Darker green for dark mode */
}

.task-item.overdue {
    background-color: lightcoral;
    border-color: #ddd;
}

body.dark-mode .task-item.overdue {
    background-color: #8b0000; /* Darker red for dark mode */
}

.container {
    width: 80%;
    margin: 0 auto;
}

.task-form {
    margin-bottom: 20px;
}

.task-list {
    list-style-type: none;
    padding: 0;
}

.task-item {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.task-content {
    display: flex;
    justify-content: space-between;
}

.complete-form, .delete-form {
    display: inline;
}

.color-key {
    margin-bottom: 20px;
}

.color-box {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.color-box.completed {
    background-color: lightgreen;
}

body.dark-mode .color-box.completed {
    background-color: #006400; /* Darker green for dark mode */
}

.color-box.overdue {
    background-color: lightcoral;
}

body.dark-mode .color-box.overdue {
    background-color: #8b0000; /* Darker red for dark mode */
}

.color-box.pending {
    background-color: #ffff99; /* Softer yellow */
}

body.dark-mode .color-box.pending {
    background-color: #b3b300; /* Darker yellow for dark mode */
}